body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #00338D; /* KPMG 어두운 파란색 */
  color: #ffffff; /* 흰색 글자 */
}

.container {
  text-align: center;
  background-color: #005EB8; /* KPMG 블루 */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  color: #ffffff; /* 흰색 */
  font-weight: bold; /* bold 처리 */
}

.entry-section {
  margin-top: 20px;
}

.entry-input {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.entry-list {
  list-style-type: decimal;
  padding: 0;
  text-align: left;
  margin-left: 10%;
  color: #ffffff; /* 흰색 글자 */
}

.entry-list li {
  background-color: #ffffff;
  color: #005EB8;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.btn-primary, .btn-secondary {
  display: inline-block;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold; /* bold 처리 */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  margin: 10px;
  cursor: pointer;
}

.btn-primary {
  background-color: #ffffff; /* 흰색 */
  color: #005EB8; /* KPMG 블루 */
}

.btn-primary:hover {
  background-color: #004494;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn-secondary {
  background-color: #005EB8; /* KPMG 블루 */
  color: #ffffff; /* 흰색 */
}

.btn-secondary:hover {
  background-color: #004494;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.button-section {
  margin-top: 20px;
}
